include templates/head.pug
include templates/header.pug
.valign-wrapper
    .row
        .col.sm-12
            form(action="/", method="post")
                .card
                    .card-content
                        span.card-title Login
                        .input-field
                            input#email.validate(type="text", name="email")
                            label(for="email") Email
                        .input-field
                            input#password.validate(type="password", name="password")
                            label(for="password") Password
                    .card-action.right-align
                        button.btn.waves-effect.waves-light(type="submit") Login