include ../templates/head.pug
include ../templates/header.pug
block content
    .container
        .row
            .col-2
            .col-8
                h4 Oops! Something went wrong
                p= error
            .col-2